<h1>Nutritive value / 100 gms of raw ingredients</h1>
<div>
  <select class="btn btn-primary dropdown-toggle" ng-model = "selectedCategory" ng-options="category.Name for category in foodcategory" ng-change="selectedId(selectedCategory.CategoryId)">
          <option value="">Choose Category</option>
  </select>
</div>
<div>
      <button type="button" class="btn btn-success pull-right" ng-click='showModal()'>Add</button>
      <modal-dialog show="modalFlag"  form='food', categories='foodcategory',  width='750px' height='60%'> </modal-dialog>
</div>

<input type="text" id="query" ng-model="query" placeholder="Search Food Items"/>
<div class="container">
  <table class="table">
    <thead>
      <tr>          
        <th>Name</th>
        <th>Energy(Kcals)</th>
        <th>Moisture(g)</th>
        <th>Proteins(g)</th>
        <th>Fats(g)</th>
        <th>Minerals(g)</th>
        <th>Fibre(g)</th>
        <th>Carbos(g)</th>
        <th>Calcium(mg)</th>
        <th>Phosphorous(mg)</th>
        <th>Iron(mg)</th>
      </tr>
    </thead>
    <tbody>
      <tr  ng-repeat="food in foods | filter:query">
                <td>{{food.Name}}</td>
                <td>{{food.Energy}}</td>
                <td>{{food.Moisture}}</td>
                <td>{{food.Proteins}}</td>
                <td>{{food.Fat}}</td>
                <td>{{food.Minerals}}</td>
                <td>{{food.Fibre}}</td>
                <td>{{food.Carbos}}</td>
                <td>{{food.Calcium}}</td>
                <td>{{food.Phosphorous}}</td>
                <td>{{food.Iron}}</td>
                <td>
                    <button class="btn btn-success" ng-click="update(food)">Edit</button>                   
                </td>
                <td>
                    <button class="btn btn-warning" ng-click="delete(food)">Delete</button>
                </td>    
      </tr>
     </tbody>
  </table>
    </div>

